html {
  color: #666;
  font-family: sans-serif;
}

section {
  margin: 0 auto 20px;
  padding: 10px;
}

.title {
  background: #2eb8b3;
  background: linear-gradient(45deg, #02cbfb, #0066cc);
  margin-bottom: 2rem;
  padding: 4rem 2rem;
}

input,
label {
  display: block;
}

label {
  color: #666;
  margin: 20px auto;
  font-size: 16px;
}

input,
textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  padding: 8px 12px;
}

input#device {
  font-size: 1.5em;
  margin: 20px auto;
  text-align: center;
  width: 50%;
}

textarea {
  height: 150px;
  width: 90%;
}

input::placeholder,
textarea::placeholder {
  color: #cd6c70;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #2eb8b3;
  margin: 15px auto;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

.summary h2 {
  text-align: center;
}

button.done {
  text-transform: lowercase;
  font-size: 24px;
  display: block;
  margin: 20px auto;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #b82e33 transparent #b82e33 transparent;
  animation: loader 1.5s linear infinite;
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.loader-container,
.modal-container {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}

.show {
  display: flex;
}

.message-modal {
  background: linear-gradient(45deg, #02cbfb, #0066cc);
  border-radius: 6px;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  min-height: 280px;
  min-width: 336px;
  padding: 40px;
  text-align: center;
}

#article-id {
  border-radius: 6px;
  font-size: 1em;
  margin: 35px auto;
  padding: 14px;
  width: 100%;
  text-align: center;
}

#close-modal {
  background: #b82e33;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: auto;
  padding: 8px 12px;
}
